{% load get_item %}
<html>
<head>
<title>Contest Scores</title>
<style>
	td {text-align: center;}
	td.score {text-align: right}
	td, th {padding: 2px}
	span {font-size: 80%; color: grey;}
</style>
<script>
setTimeout(function() {
	window.location.reload(1);
}, 5000);
</script>
</head>
<body>

<h1>Contest Scores</h1>

<table border>
	<tr>
		<td>lp</td>
		<td>login</td>
		{% for task in tasks %}
		<th>{{task}}</th>
		{% endfor %}
		<td>total</td>
	</tr>
	{% for score, team in teams %}
	<tr>
		<td>{{forloop.counter}}</td>
		<th>{{team}}</th>
		{% for task in tasks %}
		<td class=score>
			<b>{{scores_big|get:team|get:task|floatformat:2}}</b><br/>
			<span>{{scores|get:team|get:task|floatformat:2}}</span>
		</td>
		{% endfor %}
		<td class=score>{{score|floatformat:2}}</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>